.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
::placeholder {
  color: white;
  opacity: 1;
}

/*.password {*/
/*  position: relative;*/
/*}*/
/*.password-control {*/
/*  position: absolute;*/
/*  top: 11px;*/
/*  right: 6px;*/
/*  display: inline-block;*/
/*  width: 20px;*/
/*  height: 20px;*/
/*  background: url(/view.svg) 0 0 no-repeat;*/
/*}*/
/*.password-control.view {*/
/*  background: url(/no-view.svg) 0 0 no-repeat;*/
/*}*/
